<h1>トレーニング追加</h1>
<%= form_with model:@training, local:true do |f| %>
<!--if文で分岐、有酸素運動なら時間、距離、メモ、それ以外は以下の通り-->
<!--これだけTrainingモデル-->
  <div class="form-group col-md-3">
    <%= f.label :日付, class: 'control-label' %>
    <%= f.date_field :training_date, class: 'form-control' %>
  </div>
  <%= f.fields_for :training_details do |training_detail| %>
    <div class="form-group col-md-3">
      <%= training_detail.label :training_name, "種目名" %>
      <%= training_detail.text_field :training_name, class: 'form-control' %>
    </div>
    <div class="form-group col-md-3">
      <%= training_detail.label :body_part, "部位" %>
      <%#= training_detail.select :body_part, TrainingDetail.body_parts_i18n.keys.map{|k| [I18n.t("enums.training_detail.body_part.#{k}"), k]}, class: 'form-control' %>
      <%= training_detail.select :body_part, TrainingDetail.body_parts_i18n.invert, {prompt: false}, class:"form-control col-6"  %>
    </div>
    <div class="form-group col-md-3">
      <%= training_detail.label :weight, "重さ" %>
      <%= training_detail.number_field :weight, step: '0.1', min: '0', class: 'form-control' %>
    </div>
    <div class="form-group col-md-3">
      <%= training_detail.label :repetition, "回数" %>
      <%= training_detail.number_field :repetition, min: '0', class: 'form-control' %>
    </div>
    <div class="form-group col-md-3">
      <%= training_detail.label :memo, "メモ" %>
      <%= training_detail.text_field :memo, class: 'form-control' %>
    </div>
  <% end %>

  <div>
    <%= f.submit '登録' %>
  </div>

<% end %>