<h1>トレーニング追加</h1>

<%= form_with model:@training, local:true do |f| %>

<!--if文で分岐、有酸素運動なら時間、距離、メモ、それ以外は以下の通り-->

<!--日付選択-->
<!--これだけTrainingモデル-->
<span>ここで日付選択</span>
  <div class="form-group">
    <%= f.label :created_at, class: 'control-label' %>
    <%= f.date_field :created_at, class: 'form-control' %>
  </div>

<!--別のモデル,Event -->
  <%= f.fields_for :@events do |event| %>
    <div class="field">
      <%= event.label :name, '種目' %>
      <%= event.collection_select(:event_id, @events, :id, :name, prompt: "選択してください") %>
    </div>
  <% end %>

<!--別のモデル, TrainingDetailモデル-->
  <div>
    <%= f.label :"重さ" %>
    <%= f.number_field :weight, autofocus: true %>
  </div>
  <div>
    <%= f.label :"回数" %>
    <%= f.number_field :repetition %>
  </div>
  <div>
    <%= f.label :"メモ" %>
    <%= f.text_field :memo %>
  </div>
  <div>
    <%= f.submit '登録' %>
  </div>

<% end %>