<h3>マイページ</h3>
<%= link_to "トレーニング追加", new_training_path, class: "btn btn-outline-secondary" %>
<%= link_to "食事追加", new_meal_path, class: "btn btn-outline-secondary" %>
<%= link_to "カラダ追加", new_body_path, class: "btn btn-outline-secondary" %>

<div>
<h4>基礎代謝に基づく目安カロリー</h4>
  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th scope="col">基礎代謝</th>
      <th scope="col">活動レベルによる<br />１日の消費カロリー</th>
      <th scope="col">目的に合わせた<br />カロリー設定</th>
    </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <%= current_user.calc_bmr.round(2) %>kcal
        </td>
        <td><%= current_user.calc_activity_metabolism.round(2) %>kcal</td>
        <td><%= current_user.by_purpose.round(2) %>kcal</td>
      </tr>
    </tbody>
  </table>
</div>

<div>
<h4>マクロ栄養素算出（１日当たり）</h4>
  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th scope="col">【P】たんぱく質</th>
      <th scope="col">【F】脂質</th>
      <th scope="col">【C】炭水化物</th>
      <th scope="col">総摂取カロリー</th>
    </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= current_user.protein_per_day.round(2) %>g</td>
        <td><%= current_user.fat_per_day.round(2) %>g</td>
        <td><%= current_user.fat_per_day.round(2) %>g</td>
        <td><%= current_user.by_purpose.round(2) %>kcal</td>
      </tr>
    </tbody>
  </table>
</div>



<h5><%= Date.today.strftime("%Y年%m月%d日") %></h5>
<h4>本日の栄養サマリー</h4>
  <table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">一日あたり総摂取量目安</th>
      <th scope="col">本日摂取済み</th>
      <th scope="col">残り摂取可能</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">カロリー</th>
      <td><%= current_user.by_purpose.round(2) %>kcal</td>
      <td><%= @calory %>kcal</td>
      <td><%= current_user.by_purpose.round(2) - @calory %>kcal</td>
    </tr>
    <tr>
      <th scope="row">【P】タンパク質</th>
      <td><%= current_user.protein_per_day.round(2) %>g</td>
      <td><%= @protein %>g</td>
      <td><%= current_user.protein_per_day.round(2) - @protein %>g</td>
    </tr>
    <tr>
      <th scope="row">【F】脂質</th>
      <td><%= current_user.fat_per_day.round(2) %>g</td>
      <td><%= @fat %>g</td>
      <td><%= (current_user.fat_per_day - @fat).round(2) %>g</td>
    </tr>
    <tr>
      <th scope="row">【C】炭水化物</th>
      <td><%= current_user.carb_per_day.round(2) %>g</td>
      <td><%= @carb %>g</td>
      <td><%= (current_user.carb_per_day - @carb).round(2) %>g</td>
    </tr>
  </tbody>
</table>