<h1>マイページ</h1>
<%= link_to "トレーニング追加", new_training_path, class: "btn btn-outline-secondary" %>
<%= link_to "食事追加", new_meal_path, class: "btn btn-outline-secondary" %>
<%= link_to "カラダ追加", new_body_path, class: "btn btn-outline-secondary" %>

  <table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th scope="col">基礎代謝</th>
      <th scope="col">活動レベルによる<br />１日の消費カロリー</th>
      <th scope="col">目的に合わせた<br />カロリー設定</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <%= current_user.calc_bmr.round(2) %>kcal
      </td>
      <td><%= current_user.calc_activity_metabolism.round(2) %>kcal</td>
      <td><%= current_user.by_purpose.round(2) %>kcal</td>
    </tr>
  </tbody>
</table>


<h3><%= Date.today.strftime("%Y年%m月%d日") %></h3>
<h2>本日の栄養サマリー</h2>
  <table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">一日あたり摂取可能</th>
      <th scope="col">本日摂取済み</th>
      <th scope="col">残り摂取可能</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">カロリー</th>
      <td><%= current_user.by_purpose.round(2) %>kcal</td>
      <td><%= @calory %>kcal</td>
      <td><%= current_user.by_purpose.round(2) - @calory %>kcal</td>
    </tr>
    <tr>
      <th scope="row">【P】タンパク質</th>
      <td><%= current_user.protein_per_day.round(2) %>g</td>
      <td><%= @protein %>g</td>
      <td><%= current_user.protein_per_day.round(2) - @protein %>g</td>
    </tr>
    <tr>
      <th scope="row">【F】脂質</th>
      <td><%= current_user.fat_per_day.round(2) %>g</td>
      <td><%= @fat %>g</td>
      <td><%= (current_user.fat_per_day - @fat).round(2) %>g</td>
    </tr>
    <tr>
      <th scope="row">【C】炭水化物</th>
      <td><%= current_user.carb_per_day.round(2) %>g</td>
      <td><%= @carb %>g</td>
      <td><%= (current_user.carb_per_day - @carb).round(2) %>g</td>
    </tr>
  </tbody>
</table>

<table class: 'table'>
  <tr>
    <th>ニックネーム</th>
    <td><%= current_user.name %></td>
  </tr>
  <tr>
    <th>メールアドレス</th>
    <td><%= current_user.email %></td>
  </tr>
  <tr>
    <th>性別</th>
    <td><%= current_user.sex %></td>
  </tr>
  <tr>
    <th>誕生日</th>
    <td><%= current_user.birthday %></td>
  </tr>
  <tr>
    <th>身長</th>
    <td><%= current_user.height %></td>
  </tr>
  <tr>
    <th>体重</th>
    <td><%= current_user.weight %></td>
  </tr>
</table>