<h1>食事一覧</h1>
<table>
	<tr>
		<th>日付</th>
		<th>カテゴリー</th>
		<th>食事写真</th>
		<th>食事名</th>
		<th>カロリー</th>
		<th>たんぱく質</th>
		<th>脂質</th>
		<th>炭水化物</th>
	</tr>
	<% @meals.each do |meal| %>
		<tr>
			<td>
				<%= meal.date.strftime('%Y/%m/%d') %>
			</td>
			<td>
				<%= meal.category_i18n %>
			</td>
			<td>
				<%= attachment_image_tag meal, :image, :fill, 100, 100 %>
			</td>

			<!--ここからネストされたmeal_details modelの内容-->
			<% meal.meal_details.each do |meal_detail| %>

				<td>
					<%= meal_detail.name %>
				</td>
				<td>
					<%= meal_detail.calory %>
				</td>
				<td>
					<%= meal_detail.protein %>
				</td>
				<td>
					<%= meal_detail.fat %>
				</td>
				<td>
					<%= meal_detail.carb %>
				</td>

			<% end %>
			<td>
				<%= link_to "編集", edit_meal_path(meal.id) %>
			</td>
			<td>
				<%= link_to "削除", meal_path(meal.id), method: :delete %>
			</td>
		</tr>
	<% end %>
</table>