<h1>食事一覧</h1>
<table class="table table-striped table-hover">
	<tr>
		<th>日付</th>
		<th>カテゴリー</th>
		<th>食事写真</th>
		<th>食事名</th>
		<th>カロリー</th>
		<th>たんぱく質</th>
		<th>脂質</th>
		<th>炭水化物</th>
		<th></th>
		<th></th>
	</tr>
	<% @meals.each do |meal| %>
		<% meal.meal_details.each do |meal_detail| %>
		<tr>
			<td>
				<%= meal.date.strftime('%Y/%m/%d') %>
			</td>
			<td>
				<%= meal.category_i18n %>
			</td>
			<td>
				<%= attachment_image_tag meal, :image, :fill, 100, 100 %>
			</td>

			<!--ここからネストされたmeal_details modelの内容-->
			<!--<#% meal.meal_details.each do |meal_detail| %>-->

				<td>
					<%= meal_detail.name %>
				</td>
				<td>
					<%= meal_detail.calory %>
				</td>
				<td>
					<%= meal_detail.protein %>
				</td>
				<td>
					<%= meal_detail.fat %>
				</td>
				<td>
					<%= meal_detail.carb %>
				</td>

		<!--<#% end %>-->
			<td>
				<%= link_to "編集", edit_meal_path(meal_deteal.id), class: "btn btn-outline-success" %>
			</td>
			<td>
				<%= link_to "削除", meal_path(meal.id), method: :delete, data: {confirm: "削除しますか？"}, class: "btn btn-outline-danger" %>
			</td>
		</tr>
		<% end %>
	<% end %>
</table>