<header>
  <!--navbar-light" style="background-color: #6600FF;-->
  <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
    <!--ナビバーロゴ-->
    <a class="navbar-brand p-2" href="/">
      <%= image_tag 'nyanko.png', size: "150x150", alt: "logo" %>
      <!--<span style="color: #fff;">筋トレマニアはひかれ合う</span>-->
    </a>
    <!--バーガー部分-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expand="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!--トグルメニュー中身-->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!--ml-autoはmargin lightがauto-->
      <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
          <li class="nav-item nav-link">
            <%= link_to "マイページ", my_page_path, class: "btn btn-outline-secondary" %>
          </li>
          <li class="nav-item nav-link">
            <%= link_to "筋トレ", trainings_path, class: "btn btn-outline-secondary" %>
          </li>
          <li class="nav-item nav-link">
            <%= link_to "トレーニング追加", new_training_path, class: "btn btn-outline-secondary" %>
          </li>
          <li class="nav-item nav-link">
            <%= link_to "食事", meals_path, class: "btn btn-outline-secondary" %>
          </li>
          <li class="nav-item nav-link">
            <%= link_to "食事追加", new_meal_path, class: "btn btn-outline-secondary" %>
          </li>
          <li class="nav-item nav-link">
            <%= link_to "カラダ", bodies_path, class: "btn btn-outline-secondary" %>
          </li>
          <li class="nav-item nav-link">
            <%= link_to "カラダ追加", new_body_path, class: "btn btn-outline-secondary" %>
          </li>
          <li class="nav-item nav-link">
            <%= link_to "基本情報設定",  edit_user_registration_path, class: "btn btn-outline-secondary" %>
          </li>
          <li class="nav-item nav-link">
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-outline-secondary" %>
          </li>
          <!--余裕があればここに<li class="nav-item dropdown"></li>-->
        <% else %>
          <li class="nav-item nav-link active">
            <%= link_to "top", root_path, class: "btn btn-outline-secondary" %>
          </li>
          <li class="nav-item nav-link">
            <%= link_to "新規登録", new_user_registration_path, class: "btn btn-outline-secondary" %>
          </li>
          <li class="nav-item nav-link">
            <%= link_to "ログイン", new_user_session_path, class: "btn btn-outline-secondary" %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>